name: Publish Docker backend image

on:
  push:
    branches: ["main"]
    paths: ["backend/**"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-go@v4
        with:
          go-version: 1.17

      - name: gofmt check
        run: |
          cd backend
          if [ "$(gofmt -s -l . | wc -l)" -ne 0 ]
          then
          echo "The following files were found to be not go formatted:"
          gofmt -s -l .
          exit 1
          fi

      - name: unused-package check
        run: |
          cd backend
          make unused-package-check

      - name: golangci-lint check
        uses: reviewdog/action-golangci-lint@v2
        with:
          workdir: backend/

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/iptables-viz-backend:latest
